<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<add key="HOP_Username" value="admin" />
		<add key="HOP_Password" value="admin123" />
	</appSettings>

	<connectionStrings>
		<add name="SIMS_DB"
			 connectionString="Data Source=.\SQLEXPRESS;
                           Initial Catalog=SIMS_DB;
                           Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>

</configuration>